@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/LayoutKhachHang.cshtml";
    KhachHang a = ViewBag.k;
}
@using DeTaiWeb_ShopThoiTrang.Models;
@model List<CartItem>

<div class="contaienr">
    <form action="/DatHang/TaoDonDatHang" method="POST" style="margin-left:200px;">
        <h2 style="margin-left:90px;">Thông tin đặt hàng</h2>
        <table style="display:inline;" class="text-left">
            <tr><td>&nbsp;</td><td></td></tr>
            <tr>
                <td><b style="font-weight:bold;">Họ tên:</b> @a.TenKhachHang</td>
                <td><b style="font-weight:bold;">Điện thoại:</b> @a.SDT</td>
            </tr>
            <tr>
                <td class="text-left"><b style="font-weight:bold;">Địa chỉ:</b> @a.DiaChi</td>
                <td><b style="font-weight:bold;">Ngày đặt:</b> @DateTime.Now.ToShortDateString()</td>
            </tr>
            <tr><td>&nbsp;</td><td></td></tr>
            <tr>
                <td colspan="2" class="text-center">
                    <table class="table" style="display:inline;">
                        <tr>
                            <td colspan="4" class="text-danger" style="font-weight:bold; font-size:20px;">Thông tin đơn hàng</td>
                        </tr>
                        <tr>
                            <td><b style="font-weight:bold;">Mã sản phẩm</b></td>
                            <td><b style="font-weight:bold;">Tên sản phẩm</b></td>
                            <td><b style="font-weight:bold;">Số lượng</b></td>
                            <td><b style="font-weight:bold;">Đơn giá</b></td>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.iMaSanPham</td>
                                <td>@item.sTenSanPham</td>
                                <td>@item.iSoLuong</td>
                                <td>@item.dDonGia</td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
            <tr style="border-top:1px solid black;"><td>&nbsp;</td><td></td></tr>
            <tr>
                <td class="text-center">
                    <b>Tổng số lượng: @ViewBag.TongSoLuong</b>
                </td>
                <td class="text-center">
                    <b>Tổng tiền: @string.Format("{0:#,###}",@ViewBag.TongThanhTien) ₫</b>
                </td>
            </tr>
            <tr><td>&nbsp;</td><td></td></tr>
            <tr>
                <td style="font-weight:bold; text-align:right;">
                    <b>Ghi chú:</b>
                </td>
                <td>
                    <input type="text" name="txtGhiChu" style="width:283px; height:50px; border:2px solid black; 
                        border-radius:15px;" />
                </td>
            </tr>
            <tr><td>&nbsp;</td><td></td></tr>
            <tr>
                <td colspan="2"><input class="btn btn-dark", style="width:100%; height:50px; font-size:25px;"} type="submit" 
                    value="Đồng ý đặt hàng" /></td>
            </tr>
        </table>
    </form>
</div>
